mixin nav(data)
    nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Главная
        li.nav__item
          a.nav__link(href="#") Услуги
          div.nav__sub
            ul.nav__sub-list
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
              li.nav__sub-item
                span.nav__sub-item-title title
        li.nav__item
          a.nav__link(href="#") ЦЕНЫ
        li.nav__item
          a.nav__link(href="#") Лаборатория
        li.nav__item
          a.nav__link(href="#") Команда
        li.nav__item
          a.nav__link(href="#") Контакты
