// *
//   outline 1px solid #777
.nav
  box-sizing border-box
  box-shadow 0 8px 1em 0 rgba(#000, .2)
  background-image linear-gradient(180deg, #ff6e02 0%, #ffff00 50%, #ff6e02 100%)
  padding 0 1em
  &__list
   max-width maxWidth
   margin auto
   padding 0
   text-indent 0
   list-style none
   list-style-position outside
   display -webkit-flex
   display -ms-flex
   display flex
   flex-direction row
   justify-content flex-start
   align-content center
   align-items center
  &__item
   width (100% / 8)
   position relative
   cursor default
  &__link
    display block
    text-align center
    line-height 2em
    text-decoration none
    color #222
    transition: .13s linear
    cursor pointer
    &:hover,
    &--active
      background-color mainColor
      color accentColor
    &::selection
      background-color rgba(#000, 0)

.nav__sub
  display block
  position absolute
  box-shadow: 0 4px 8px 3px rgba(#000, .4)
  top 100%
  left 0
  background-image mainGradient
  z-index 600
  color #fff
  padding 14px 12px
  box-sizing border-box
  min-width 150%
  &-list
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
  &-item
    border-bottom 1px solid #6d6d6d
    padding 12px 0
    &:first-child
      padding-top 0
    &:last-child
      border-bottom none
      padding-bottom 0
    &-title
      text-transform uppercase
      color accentColor
      // margin 12px 0px
      display inline-block
