mixin privilege(data)
    section.privilege
      .privilege__wrapper
        h3.privilege__title
          span.accent НАШИ 
          | ПРЕИМУЩЕСТВА
        ul.privilege__list
          li.privilege__list-item
            .privilege__item
              img.privilege__item-image(src="./static/img/assets/sections/services/s01.png" alt="Скидки до 50%" width="120px")
              p.privilege__item-label Скидки до 50%
          li.privilege__list-item
            .privilege__item
              img.privilege__item-image(src="./static/img/assets/sections/services/s02.png" alt="Инновационные технологии" width="120px")
              p.privilege__item-label Инновационные технологии
          li.privilege__list-item
            .privilege__item
              img.privilege__item-image(src="./static/img/assets/sections/services/s03.png" alt="Без вреда для вашего здоровья" width="120px")
              p.privilege__item-label Без вреда для вашего здоровья
          li.privilege__list-item
            .privilege__item
              img.privilege__item-image(src="./static/img/assets/sections/services/s04.png" alt="Полная конфиденциальность" width="120px")
              p.privilege__item-label Полная конфиденциальность
          li.privilege__list-item 
            .privilege__item
              img.privilege__item-image(src="./static/img/assets/sections/services/s05.png" alt="Гарантия качества" width="120px")
              p.privilege__item-label Гарантия качества
