.privilege
  color #fff
  font-size 20px
  margin-bottom 2em
  &__wrapper
    max-width maxWidth
    margin auto
  &__title
    margin 1.3em 0
    font-size 1.7em
  &__list
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction row
    justify-content space-between
    align-content flex-start
    align-items flex-start
    flex-wrap wrap
    &-item
      width (100% / 5)
      position relative
      box-sizing border-box
      text-align center
  &__item
    box-sizing border-box
    padding 0 10px
    &-image
       width 120px
       height 120px
       display block
       margin auto
