.overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(#000, .7)
  .modal
    position absolute
    top 50%
    left 50%
    transform: translate(-50%, -50%);

.modal
  background-color rgba(#000, .7)
  color #fff
  font-size 16px
  box-sizing border-box
  padding 1.6em 2em
  text-align center
  &__title
    color #fff
    text-transform uppercase
    text-align center
    margin 0
    font-size 1.6em
    margin-bottom .7em
  .text-box
    font-size 1.15em
  .button
    font-size 1.25em
