include ../UI/text-box/text-box.pug
include ../UI/button/button.pug

mixin modal(data)
    .overlay
      .modal(role='modal')
        h2.modal__title
          span.accent Записаться 
          | на прием
        form.modal__form
          +text-box('Введите Ваше имя', 'text')
          +text-box('Введите Ваше номер телефона', 'text')
          +text-box('Удобное время для звонка', 'text')
          +button('Бесплатная консультация', 'submit')
