doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/nav/nav.pug
    include ../components/yandexMap/yandexMap.pug
    include ../components/modal/modal.pug
    include ../components/footer/footer.pug
    include ../components/sections/slider/slider.pug
    include ../components/sections/services/services.pug
    include ../components/sections/privilege/privilege.pug
    include ../components/sections/prices/prices.pug
    
    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        .page__wrapper
          +header
          +nav
          +slider
          //- +services
          //- +privilege
          +prices
          +yandexMap
          +footer
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
