mixin services(data)
    section.services
      .services__wrapper
        h3.services__title
          span.accent УСЛУГИ 
          | КЛИНИКИ
        ul.services__list
          li.services__list-item
            | Имплантация и протезирование зубов
          li.services__list-item
            | Отбеливание и реставрация зубов
          li.services__list-item
            | Исправление прикуса
          li.services__list-item
            | Лечение зубов
          li.services__list-item
            | Удаление зубов
          li.services__list-item
            | Зубные украшения
          li.services__list-item
            | Лечение десен и профессиональная гигиена рта
          li.services__list-item
            a.services__link(href="/prices") Цены на услуги
