.services
  color #fff
  font-size 20px
  &__wrapper
    max-width maxWidth
    margin auto
  &__title
    margin 1.3em 0
    font-size 1.7em
  &__list
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    align-items center
    flex-wrap wrap
    &-item
      width 50%
      line-height 3em
      position relative
      padding-left 50px
      box-sizing border-box
      &::before
        content ''
        display block
        position absolute
        left 0
        top 50%
        // background-color red
        background-size contain
        background-position center
        background-repeat no-repeat
        width 36px
        height 36px
        transform translateY(-50%)
      &:nth-child(1)
        &::before
          background-image url('../img/assets/sections/services/p01.png')
      &:nth-child(2)
        &::before
          background-image url('../img/assets/sections/services/p02.png')
      &:nth-child(3)
        &::before
          background-image url('../img/assets/sections/services/p03.png')
      &:nth-child(4)
        &::before
          background-image url('../img/assets/sections/services/p04.png')
      &:nth-child(5)
        &::before
          background-image url('../img/assets/sections/services/p05.png')
      &:nth-child(6)
        &::before
          background-image url('../img/assets/sections/services/p06.png')
      &:nth-child(7)
        &::before
          background-image url('../img/assets/sections/services/p07.png')
      &:nth-child(8)
        &::before
          background-image url('../img/assets/sections/services/p08.png')
  &__link
    color accentColor
