// Common styles of the project
// *
//   outline 1px solid #777

.page
  background-color #101010
.page__wrapper
  max-width 1920px
  margin auto
  position relative
  box-shadow: 0 0 200px 30px rgba(#000, .7)
.accent
  color accentColor
