.button
  border none
  border-radius 2px
  box-sizing border-box
  cursor pointer
  color #222
  padding 0 1em
  line-height 2em
  background-image linear-gradient(180deg, #ff6e02 0%, #ffff00 50%, #ff6e02 100%)
  transition .2s ease-in-out
  &:hover
    background-image linear-gradient(180deg, #ff6e02 0%, #ffff00 50%, #ff6e02 100%)
  &::selection
    background-color rgba(#000, 0)
