.footer
  background-color mainColor
  color #fff
  padding 8px
  box-sizing border-box
  &__wrapper
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    align-items center
    max-width maxWidth
    margin auto
