.social
  &__list
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
  &__item
    text-align center

.social
  &__list
    font-size 0
  &__item
    display inline-block
    margin-right 10px
    &:last-child
      margin-right 0
  &__link
    display block
    width 40px
    height 40px
    background-size 100%
    background-position center
    background-repeat no-repeat
    &--vk
      background-image url('../img/assets/social/vk.png')
    &--instagram
      background-image url('../img/assets/social/vk.png')
