mixin social(data)
    .social
      ul.social__list
        li.social__item
          a.social__link.social__link--vk(href="https://vk.com/ooo_altman")
        li.social__item
          a.social__link.social__link--instagram(href="https://vk.com/ooo_altman")
