.text-box
  box-sizing border-box
  border 1px solid accentColor
  background-color transparent
  padding .6em .5em
  display block
  width 100%
  margin-bottom 1em
  &:focus
    outline none
  &::placeholder
    color rgba(accentColor, .3)
