.header
  background-color #101010
  box-sizing border-box
  padding 6px 1em
  &__wrapper
    max-width maxWidth
    margin auto
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    align-items center
