mixin yandexMap(data)
    section.yandexMap
      .yandexMap__overlay
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af1872103d0ef1ac92e0dcb4020b1936e2855103f7f9c75793ea719b9e8322c6e&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
        .modal(role='modal')
          h2.modal__title
            span.accent Записаться 
            | на прием
          form.modal__form
            +text-box('Введите Ваше имя', 'text')
            +text-box('Введите Ваше номер телефона', 'text')
            +text-box('Удобное время для звонка', 'text')
            +button('Бесплатная консультация', 'submit')
