.callback
  &__list
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
    color #fff
    margin-bottom 6px
    &-item
      line-height 20px
      vertical-align middle
      &::before
       content ''
       display inline-block
       margin-right 1em
       width 18px
       height 18px
       background-color red
       vertical-align middle
