include ../button/button.pug

mixin callback(data)
    .callback
      ul.callback__list
        .callback__list-item
          | 8 (901) 234 56 78
        .callback__list-item
          | ср.пт.вс. 15.00-21.00
      +button('Обратный звонок')
