mixin prices(data)
    section.prices
      .prices__wrapper
        h1.prices__title.accent ЦЕНЫ
        .prices-table
          ul.prices-table__list
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
            li.prices-table__item
              h4.prices-table__title Item
